<script type="text/javascript">
  $(window).on('beforeunload', function() {
      $.ajax({
              async: false,
              type: "POST",
              url: "/emails/create",
              data: { 'payload':{ 'email': $("#email_email").val() }},
              dataType:'json'
              });
    });
</script>
<%= form_for :email, url: emails_path , method: :create do |f| %>
  
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>